#order_status,
.period a,
input[type="date"],
.order_search_btn {
  background-color: #dedad3;
  padding: 0.5em 2rem;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order_search_btn {
  color: #d8d4cc;
  background-color: #2d2c2a;
  /* padding: 0.5em 2rem; */
}

* {
  background-color: none;
}
