form input {
  width: 100%;
  padding: 1em;
  background-color: #fff;
}

@media (max-width: 640px) {
  form input {
    padding: 0.7em;
  }
}

input[type="checkbox"] {
  border: 2px solid #545454;
  background-color: #f2f0eb;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #545454;
}

input[type="checkbox"]::before {
  color: rgb(255, 255, 255);
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
  display: block;
}
