form div {
  background-color: #fff;
}

form div:last-of-type {
  background-color: unset;
}

form input {
  width: 100%;
  padding: 1rem;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 체크박스와 텍스트 간격 */
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #545454;
  background-color: #f2f0eb;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #545454;
}

input[type="checkbox"]::before {
  content: "✔";
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked::before {
  display: block;
}
